 body {
	background-color: #6f8a81;
}

h1 {
	text-align: center;
	outline-style: single;
	color: #2f3543;
	outline-color: #1c1f2e;
	outline-width: 5px;
	font-family: didot;
	font-size: 40px
}
h2 {
	text-align: center;
	font-family: didot;
	color: #2f3543;
	outline-color: #1c1f2e;
	font-size: 20px;
}

p {
	text-align: center;
	color: #2f3543;
	outline-color: #1c1f2e;
	font-family: didot;
	font-size: 20px;
}
a {
	outline-style: solid;
	color: #2f3543;
	outline-color: #1c1f2e;
	outline-width: 3px;
}

a:hover {
	outline-style: solid;
	color: #ece6da;
	outline-color: #B15493;
	outline-width: 3px;
}